:host {
    width: 100%;
    flex-grow: 1;
    min-height: 0; /* fix scroll in flex */
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 1px 3px #0000000a, 0 1px 2px #0000000a;
    overflow: auto;
    touch-action: pan-y;

    table {
        width: 100%;
        border-collapse: collapse;
        table-layout: fixed; /* needed for column widths */
        font-family: Arial, sans-serif;
    }

    th, td {
        padding: 6px 8px;
        border: 1px solid #f1f1f1;
        text-align: left;
    }

    th {
        position: sticky;
        top: -1px;
        height: 50px;
        background-color: #e8e8e8;
        font-weight: bold;
        text-align: center;
        z-index: 10;
    }

    td {
        vertical-align: top;
    }

    tr:nth-child(even) td {
        background-color: #fafafa;
    }

    tr:hover td {
        background-color: #f5f5f5;
    }

    td > div {
        width: 100%;
    }
}
