:host {
    display: flex;
    width: 100%;
    flex-direction: column;
    flex-grow: 1;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 1px 3px #0000000a, 0 1px 2px #0000000a;
    overflow: auto;
    touch-action: pan-y;
    font-family: Arial, sans-serif;

    .header,
    .row {
        .employee-col {
            width: 120px;
        }

        .moment-col {
            width: calc((100% - 120px) / 3);
        }
    }

    .header {
        display: flex;
        width: 100%;
        min-height: 50px;
        align-items: center;
        background-color: #e8e8e8;
        font-weight: bold;
        position: sticky;
        top: 0;
        z-index: 1;

        .employee-col,
        .moment-col {
            text-align: center;
        }
    }

    .row {
        display: flex;
        min-height: 60px;

        .employee-col,
        .moment-col {
            padding: 6px 8px;
            border: 1px solid #f1f1f1;
            text-align: left;
        }

        &:nth-child(odd) {
            background-color: #fafafa;
        }
    }
}
