<mat-form-field class="form-field">
    <mat-label>{{ label }}</mat-label>

    <input type="text"
           matInput
           [formControl]="searchControl"
           [matAutocomplete]="auto"
           [value]="selectedProductName"
    >

    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="productSelected($event)">
        <mat-option *ngFor="let product of filteredProducts" [value]="product.id">
            {{ product.name }}
        </mat-option>
    </mat-autocomplete>
</mat-form-field>
