:host {
    h2 {
        margin: 0;
    }

    mat-dialog-content {
        min-width: 300px;
        padding: 16px 20px;

        .field {
            width: 100%;
        }
    }

    mat-dialog-actions {
        padding: 8px 0 0;
    }
}
