:host {
    position: relative;

    .mat-dialog-close {
        text-align: right;
    }

    .mat-dialog-content {
        max-height: 100vh !important;

        .btn-ok {
            width: 100%;
            font-size: 20px;
        }
    }


}