:host {
    .form-field {
        width: 100%;
    }

    .fields-container {
        display: flex;
        align-items: center;
        column-gap: 15px;

        .form-field {
            flex-grow: 1;
        }

    }


}
