<div class="overlay-container" *ngIf="loading"><mat-spinner></mat-spinner></div>
<div class="container">
    <div class="booking-header">
        <a href="#/bookings">Réservations</a><span> › </span> <a href="#/booking/{{booking.id}}">Réservation <small>[{{booking.name}} - {{booking.id}}]</small></a> <span> › </span> Planning activités
    </div>
    <div class="booking-body">
        <div class="selection-details-wrapper">
            <div class="selection-details">
                <div class="moment-details">
                    <div *ngIf="selectedDay" class="day-date">
                        <span class="day-name">{{ dayName(selectedDay) }}</span> <span class="time-slot-name">{{ timeSlotName(selectedTimeSlot) }}</span>
                    </div>
                    <booking-activities-planning-activity-schedule
                        *ngIf="selectedActivity"
                        [activity]="selectedActivity"
                        (scheduleFromChanged)="onScheduleFromChanged($event)"
                        (scheduleToChanged)="onScheduleToChanged($event)"
                    ></booking-activities-planning-activity-schedule>
                    <div style="flex-grow: 1;"></div>
                    <div *ngIf="areMomentChecked()" style="display: flex; width: 100%; padding-bottom: 35px; text-align: right;">
                        <button  mat-raised-button color="primary" style="float: right;" (click)="onOpenMultiAssignDialog()">
                            Assigner <span style="font-size: 1rem">({{ checkedMomentQty() }})</span>
                        </button>
                        <button mat-icon-button (click)="selectedItemsMap = {}">
                            <mat-icon>clear</mat-icon>
                        </button>
                    </div>
                </div>

                <div class="group-activity-details">
                    <booking-activities-planning-booking-group-details
                        [group]="selectedGroup"
                        [mapGroupAgeRangeAssignment]="mapGroupAgeRangeAssignment"
                        (nbPersChanged)="onNbPersChanged($event)"
                        (ageFromChanged)="onAgeFromChanged($event)"
                        (ageToChanged)="onAgeToChanged($event)"
                        (hasPersonWithDisabilityChanged)="onHasPersonWithDisabilityChanged($event)"
                        (participantsOptionsChanged)="onParticipantsOptionsChanged($event)"
                    ></booking-activities-planning-booking-group-details>

                    <booking-activities-planning-activity-details
                        [activity]="selectedActivity"
                        [booking]="booking"
                        [timeSlot]="selectedTimeSlot"
                        [group]="selectedGroup"
                        [employees]="employees"
                        [providers]="providers"
                        (productSelected)="onProductSelected($event)"
                        (activityDeleted)="onActivityDeleted()"
                        (employeeChanged)="onEmployeeChanged($event)"
                        (providersChanged)="onProvidersChanged($event)"
                    ></booking-activities-planning-activity-details>
                </div>
            </div>

            <div class="no-edition-allowed-msg" *ngIf="selectedGroup && selectedGroup.booking_lines_ids.length > 0">
                Groupe « <i>{{ selectedGroup.name }}</i> » non modifiable, car il contient des produits.
            </div>
        </div>

        <booking-activities-planning-week-activities
            [startDate]="weekStartDate"
            [endDate]="weekEndDate"
            [booking]="booking"
            [mapDateTimeSlotGroupActivity]="planning"
            [groups]="activityGroups"
            [selectedDay]="selectedDay"
            [selectedTimeSlot]="selectedTimeSlot"
            [selectedGroup]="selectedGroup"
            [selectedActivity]="selectedActivity"
            [selectedItemsMap]="selectedItemsMap"
            (daySelected)="onDaySelected($event)"
            (timeSlotSelected)="onTimeSlotSelected($event)"
            (groupSelected)="onGroupSelected($event)"
            (activitySelected)="onActivitySelected($event)"
            (momentChecked)="onMomentChecked($event)"
        ></booking-activities-planning-week-activities>

        <div class="week-navigations">
            <button [disabled]="!showPrevBtn" mat-icon-button (click)="previousWeek()">
                <mat-icon>chevron_left</mat-icon> <span style="margin-top: 5px;">Précédent</span>
            </button>

            <div style="flex-grow: 1"></div>

            <button [disabled]="!showNextBtn" mat-icon-button style="min-width: 80px;" (click)="nextWeek()">
                <span style="margin-top: 5px">Suivant</span> <mat-icon>chevron_right</mat-icon>
            </button>
        </div>

        <div class="week-description">
            <mat-form-field appearance="outline" class="form-field">
                <mat-label>Description</mat-label>
                <textarea
                    matInput
                    placeholder="Description de la semaine"
                    rows="2"
                    [formControl]="weekDescriptionFormControl"
                    (blur)="onWeekDescriptionChanges()"
                >
                </textarea>
            </mat-form-field>
        </div>
    </div>
</div>
