/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';
@import 'variables.scss';


body {
    overflow: hidden;
}

#sb-container .sb-context {
    height: calc(100vh - 133px);
}

/* minor angular material customizations */

.mat-select-panel .mat-option {
    height: 40px !important;
}


/* external libraries customizations */

// TODO: check if needed

.timepicker {

    .timepicker__header {
        background-color: #3f51b5 !important;
    }

    .timepicker-dial__control {
        outline: none;
    }

    .clock-face__clock-hand {
        background-color: #3f51b5 !important;

        &::after {
            background-color: #3f51b5 !important;
        }

        &::before {
            border-color: #3f51b5 !important;
        }
    }

    .clock-face__number {
        > span.active {
            background-color: #3f51b5 !important;
        }
    }

    button:not(.timepicker-dial__item) {
        color: #3f51b5 !important;
    }
}

ngx-material-timepicker-toggle {
    button {
        svg {
            fill: #646464;
        }
    }
}

.mat-progress-spinner circle, .mat-spinner circle {
    stroke: $secondary-color !important;
}

.full-screen-dialog {
    max-width: 100vw !important;
    max-height: 100vh !important;
    height: 100vh;
    width: 100vw;

    .mat-mdc-dialog-container,
    .mdc-dialog__surface {
        width: 100vw !important;
        height: 100dvh !important;
        max-width: 100vw !important;
        max-height: 100dvh !important;
        border-radius: 0 !important;
        padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left) !important;
    }

    .mat-dialog-container {
        border-radius: 0;
        outline: none;

        & > * {
            display: flex;
            flex-direction: column;
            height: 100%;
        }
    }

    .mat-dialog-content {
        flex-grow: 1;
        max-height: 80vh;
    }

    .mat-dialog-actions {
        padding-bottom: max(16px, env(safe-area-inset-bottom));
    }
}
