:host {
    ::ng-deep.dialog-info {
        top: 0;
        font-size: 12px;
        color: white;
        z-index: 1;
        overflow: hidden;
        text-overflow: ellipsis;
        user-select: none;
        cursor: pointer;
        padding: 2px;
        border-radius: 5px;
        width: 180px;
        min-height: 30px;
    }
}
