<h3 style="display: flex; justify-content: center; border-bottom: solid 1px lightgrey; margin-bottom: 0;" mat-dialog-title>Légende</h3>
<div mat-dialog-content style=" margin: 6px;">
    <div style="display:grid; grid-template-columns: repeat(1, 200px 300px); row-gap: 10px; align-items: center;">
        <div class="dialog-info" style="background-color: #7A9E6D;">
            <div style="display: flex; box-sizing: border-box;">
                <div style="flex: 0 1 100%;">1 - Équitation 2h</div>
            </div>
            <div>
                <div style="flex: 0 1 20%; margin-top: -4px;">Tous en selle</div>
            </div>
        </div>
        <div>
            <span style="font-weight: bold; font-size: 15px;">Activité <i style="font-size: 0.7rem">(Couleur configurable dans modèle de produit)</i></span><br />
            <span style="font-weight: 400; font-size: 13px;">Numéro groupe - Nom activité<br />Nom du camp</span><br />
        </div>

        <div class="dialog-info" style="background-color: #7A8F78;">
            <div style="display: flex; box-sizing: border-box;">
                <div style="flex: 0 1 100%;">1 - Équitation 2h</div>
            </div>
            <div>
                <div style="flex: 0 1 20%; margin-top: -4px;">Tous en selle</div>
            </div>
        </div>
        <div>
            <span style="font-weight: bold; font-size: 15px;">Activité d'un camp</span><br />
            <span style="font-weight: 400; font-size: 13px;">Numéro groupe - Nom activité<br />Nom du camp</span>
        </div>

        <div class="dialog-info" style="background-color: #BFA58A;">
            <div style="display: flex; box-sizing: border-box;">
                <div style="flex: 0 1 100%;">Congé</div>
            </div>
        </div>
        <div>
            <span style="font-weight: bold; font-size: 15px;">Congé</span>
        </div>

        <div class="dialog-info" style="background-color: #8C6E5E;">
            <div style="display: flex; box-sizing: border-box;">
                <div style="flex: 0 1 100%;">Récupération</div>
            </div>
        </div>
        <div>
            <span style="font-weight: bold; font-size: 15px;">Récupération</span>
        </div>

        <div class="dialog-info" style="background-color: #6C7A91;">
            <div style="display: flex; box-sizing: border-box;">
                <div style="flex: 0 1 100%;">Autre</div>
            </div>
        </div>
        <div>
            <span style="font-weight: bold; font-size: 15px;">Autre</span>
        </div>

        <div class="dialog-info" style="background-color: #6F5B4D;">
            <div style="display: flex; box-sizing: border-box;">
                <div style="flex: 0 1 100%;">Repos</div>
            </div>
        </div>
        <div>
            <span style="font-weight: bold; font-size: 15px;">Repos</span>
        </div>

        <div class="dialog-info" style="background-color: #C27A5A;">
            <div style="display: flex; box-sizing: border-box;">
                <div style="flex: 0 1 100%;">Formateur kayak</div>
            </div>
        </div>
        <div>
            <span style="font-weight: bold; font-size: 15px;">Formateur</span>
        </div>

        <div class="dialog-info" style="background-color: #8F4E3A;">
            <div style="display: flex; box-sizing: border-box;">
                <div style="flex: 0 1 100%;">Formation équitation</div>
            </div>
        </div>
        <div>
            <span style="font-weight: bold; font-size: 15px;">Formation</span>
        </div>
    </div>
</div>
<div mat-dialog-actions style="justify-content: flex-end; border-top: solid 1px lightgrey;">
    <button  mat-raised-button color="primary" style="float: right;" (click)="onClose()">FERMER</button>
</div>
