:host {
    display: flex;
    flex-direction: column;
    padding: 20px;

    .name {
        font-weight: bold;
        font-size: 1.2rem;
    }

    .login {
        margin-bottom: 35px;
        font-size: 1rem;
    }

    .details-section {
        width: 100%;
        margin-bottom: 35px;

        .title {
            font-weight: bold;
            font-size: 1rem;
        }
        .details {
            display: flex;
            flex-direction: column;
            padding-top: 10px;

            .detail-wrapper {
                display: flex;
                width: 100%;

                .label {
                    width: 60px;
                    font-weight: 500;
                    text-align: right;
                    padding: 5px;
                }
                .value {
                    flex-grow: 1;
                    padding: 5px;
                }
            }
        }
    }
}
