:host {
    display: flex;
    height: 100%;
    flex-direction: column;

    .header {
        display: flex;
        height: 60px;
        align-items: center;
        color: white;
        background-color: #1769aa;

        .back {
            width: 60px;
            text-align: center;
        }

        .title {
            flex-grow: 1;
            font-size: 1.25rem;
        }

        .settings {
            width: 60px;
            text-align: center;
        }
    }

    .content {
        max-height: calc(100% - 60px);
        flex-grow: 1;
    }
}
