<div class="booking-details">
    <div class="booking-details__booking-name">
        {{ 'BOOKING_DETAILS_BOOKING_LABEL' | translate }}: <b>{{ bookingName }}</b>
    </div>

    <div class="booking-details__place-details">
        <div class="place-details__name"><b>{{ centerName }}</b></div>
        <div class="place-details__phone"><a href="tel:{{ centerPhone }}">{{ centerPhone }}</a></div>
        <div class="place-details__email"><a href="mailto:{{ centerEmail }}">{{ centerEmail }}</a></div>
    </div>
</div>
