:host {
    max-height: calc(100vh - 40px);

    position: relative;

    .mat-dialog-close {
        text-align: right;
    }

    .mat-dialog-content {
        margin-bottom: 30px;
        max-height: max-content !important;
        overflow: visible;

        .content {
            overflow-y: auto;
            font-size: 16px;
            ::ng-deep {
                h1 {
                    font-size: 20px;
                }

                h2 {
                    font-size: 18px;
                }
            }
        }
    }

    .mat-dialog-actions {
        width: 100%;
        height: 80px;

        .btn-ok {
            width: 100%;
            height: 60px;
            font-size: 20px;
        }
    }
}