:host {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, .03);

    .card {
        width: 90%;
        max-width: 400px;
        padding: 20px 15px 25px 15px;
    }
}

.header {
    display: flex;

    .icon {
        width: 50px;
        margin-top: 3px;
    }

    .title {
        margin-bottom: 10px;
        font-size: 1.2rem;
    }
}

.form {
    width: 100%;

    .field {
        width: 100%;
    }

    .connection-btn {
        width: 100%;
    }
}

.messages {
    display: flex;
    flex-direction: column;
    width: 100%;
    row-gap: 10px;
    padding-top: 10px;
}

.message {
    display: flex;
    align-items: center;
    padding: 10px;

    &--error {
        background-color: #ffe4e1;
    }

    .icon {
        width: 30px;
    }

    .text {
        flex-grow: 1;
        font-size: 0.8rem;
    }
}
