<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xml:lang="en" xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<title>
    Convention de séjour
</title>
<style type="text/css">
@page {
    margin: 1cm 1.1cm;
}
body {
    margin: 0;
    padding: 0;
    margin-bottom: 65px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.7em;
    text-align: justify;
    width: 100%;
}

h2 {
    margin-top: 8px;
    margin-bottom: 0;
    font-size: 21px;
}

h3 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 15px;
}

div, table, table tr td {
    font-family: Arial, Helvetica, sans-serif;
}

div.footer {
    box-sizing: border-box;
    border: 0;
    margin: 0;
    padding: 0;
    position: fixed;
    width: 100%;
    overflow: hidden;
    background-color: white;
}

div.footer {
    bottom: 0;
    left: 0;
    height: 60px;
    text-align: center;
    overflow: visible;
    z-index: 200;
    font-size: 0.8em !important;
}

.section {
    margin-bottom: 20px;
    font-size: 0.8rem;
    page-break-inside: avoid;
}

.section .title {
    margin-bottom: 10px;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: underline;
}

.no-margin p {
    margin: 0;
}

.lines-table {
    margin-top: 20px;
    border-collapse: collapse;
}

.lines-table th,
.lines-table td {
    border: 1px solid black;
}
</style>
</head>
<body>

<img src="{{ img_url }}" style="position: absolute; max-width: 120px; width: 100%; height: auto;" border="0" alt="Header Image" />

<div style="width: 100%; margin-bottom: 100px; text-align: center;">
    <h2 style="text-decoration: underline; text-transform: uppercase; margin-top: 60px;">Convention de séjour</h2>
</div>

<div style="font-size: 0.8rem;">
    <div>Entre</div>
    <div style="margin-left: 25px;">
        <div style="font-weight: bold;">{{ organisation.name }}</div>
        <table style="font-size: 0.725rem;">
            <tr>
                <td style="vertical-align: top;">Agréments :</td>
                <td>
                    <div style="margin-bottom: 4px;">- Education Nationale : IA 86 120 01 26</div>
                    <div style="margin-bottom: 4px;">- Jeunesse et éducation populaire n° 86-058-04J</div>
                    <div style="margin-bottom: 4px;">- Local avec hébergement n° 86 12 01 002</div>
                </td>
            </tr>
        </table>
        <div>domicilié : {{ organisation.address_street }}, {% if organisation.address_dispatch|length > 0 %}{{ organisation.address_dispatch }},{% endif %} {{ organisation.address_zip }} {{ organisation.address_city }}</div>
        <div style="margin-top: 2px;" class="no-margin">{{ parts.company_represented_by|raw }}</div>
    </div>
    <div>et</div>
    <div style="margin-left: 25px;">
        <div style="font-weight: bold;">{{ customer.display_name }}</div>
        <div>{{ customer.address_street }}</div>
        {% if customer.address_dispatch|length > 0 %}
            <div>{{ customer.address_dispatch }}</div>
        {% endif %}
        <div>{{ customer.address_zip }} {{ customer.address_city }}</div>

        {% if sojourn_contact_name|length > 0 %}
            <table style="margin-top: 20px;">
                <tr>
                    <td style="font-weight: bold;">Référant sur place lors du séjour :</td>
                    <td>{{ sojourn_contact_name }}</td>
                </tr>
            </table>
        {% endif %}
    </div>

    <div style="margin-top: 30px; margin-bottom: 30px;">
        {{ parts.first_info|raw }}
    </div>
</div>

<div class="footer">
    {{ parts.footer|raw }}
</div>

<div class="section">
    <div class="title">{{ parts.article_1_title|raw }}</div>

    <div class="no-margin">
        {{ parts.article_1|raw }}
    </div>
</div>

<div class="section">
    <div class="title">{{ parts.article_2_title|raw }}</div>

    {% if hosting_conf.hosted %}
        <div>{{ parts.article_2_hosting_title|striptags }}</div>
        <ul style="margin-top: 5px; padding-left: 20px;">
            {% if hosting_conf.CH %}<li>{{ parts.article_2_hosting_ch|striptags }}</li>{% endif %}
            {% if hosting_conf.CC %}<li>{{ parts.article_2_hosting_cc|striptags }}</li>{% endif %}
            {% if hosting_conf.MB %}<li>{{ parts.article_2_hosting_mb|striptags }}</li>{% endif %}
            {% if hosting_conf.CP %}<li>{{ parts.article_2_hosting_cp|striptags }}</li>{% endif %}
        </ul>

        <div class="no-margin">
            {{ parts.article_2_hosted|raw }}
        </div>
    {% else %}
        <div>{{ parts.article_2_not_hosted|raw }}</div>
    {% endif %}
</div>

<div class="section">
    <div class="title">{{ parts.article_3_title|raw }}</div>

    {% if meals_conf.has_meals %}
        <div>{{ parts.article_3_has_meal_title|striptags }}</div>
        <ul style="margin-top: 5px; padding-left: 20px;">
            {% if meals_conf.has_breakfast %}<li>{{ parts.article_3_has_breakfast|striptags }}</li>{% endif %}
            {% if meals_conf.has_lunch %}<li>{{ parts.article_3_has_lunch|striptags }}</li>{% endif %}
            {% if meals_conf.has_snack %}<li>{{ parts.article_3_has_snack|striptags }}</li>{% endif %}
            {% if meals_conf.has_dinner %}<li>{{ parts.article_3_has_dinner|striptags }}</li>{% endif %}
        </ul>

        <div class="no-margin">
            {{ parts.article_3_meal|raw }}
        </div>
    {% else %}
        <div>{{ parts.article_3_no_meal|raw }}</div>
    {% endif %}
</div>

<div class="section">
    <div class="title">{{ parts.article_4_title|raw }}</div>

    {% if has_activities %}
        <div>{{ parts.article_4_activities|raw }}</div>
    {% else %}
        <div>{{ parts.article_4_no_activities|raw }}</div>
    {% endif %}
</div>

<div class="section">
    <div class="title">{{ parts.article_5_title|raw }}</div>

    <div>{{ parts.article_5|raw }}</div>
</div>

<div class="section">
    <div class="title">{{ parts.article_6_title|raw }}</div>

    <div style="width: 95%;">{{ parts.article_6_booking_title|striptags }}</div>

    <ul>
        {% if booking_conf.security_deposit_check > 0 %}
            <li>{{ parts.article_6_security_deposit_check|replace({'<p>': '<div>'})|replace({'</p>': '</div>'})|raw }}</li>
        {% endif %}
        {% for installment in booking_conf.installments %}
            <li>{{ parts.article_6_installment|replace({'{installment.price}': installment.price})|striptags }}</li>
        {% endfor %}
        {% if booking_conf.installments|length == 0 %}
            <li>{{ parts.article_6_purchase_order|replace({'<p>': '<div>'})|replace({'</p>': '</div>'})|raw }}</li>
        {% endif %}
    </ul>
</div>

<div class="section">
    <div class="title">{{ parts.article_7_title|raw }}</div>
    <div>
        {{ parts.article_7|raw }}
    </div>
</div>

<div class="section">
    <div class="title">{{ parts.article_8_title|raw }}</div>

    <div>{{ parts.article_8|raw }}</div>
</div>

<div class="section">
    <div class="title">{{ parts.article_9_title|raw }}</div>

    <div>{{ parts.article_9|raw }}</div>
</div>

<div class="section">
    <div class="title">{{ parts.article_10_title|raw }}</div>

    <div style="padding-left: 10px;">
        <div class="no-margin">{{ parts.article_10|raw }}</div>
    </div>
</div>


<div style="width: 100%; margin-bottom: 20px; text-align: center; page-break-before: always;">
    <h2 style="text-decoration: underline; text-transform: uppercase; margin-top: 60px;">Décompte du séjour</h2>
</div>

<table style="font-size: 0.9rem;">
    <tr>
        <td>Nom du groupe :</td>
        <td style="padding-left: 10px; font-weight: bold;">{{ customer.display_name }}</td>
    </tr>
    <tr>
        <td>Dates du séjour :</td>
        <td style="padding-left: 10px;">{{ booking.date_from }} à {{ booking.time_from }} au {{ booking.date_to }} à {{ booking.time_to }}</td>
    </tr>
</table>

<table class="lines-table" width="100%" cellpadding="4" cellspacing="0">
    <thead style="border: solid 1px black; border-left: 0px; border-right: 0px;">
    <tr>
        <th width="64%" style="padding-left: 7px; font-weight: bold; text-align: left;">
            Désignation
        </th>
        <th width="10%" style="font-weight: bold; text-align: center;  border-left: solid 1px black; padding-right: 7px;">
            Qté
        </th>
        <th width="13%" style="font-weight: bold; text-align: right;  border-left: solid 1px black; padding-right: 7px;">
            Prix unit.
        </th>
        <th width="13%" style="font-weight: bold; text-align: right;  border-left: solid 1px black; padding-right: 7px;">
            Prix
        </th>
    </tr>
    </thead>
    <!-- for each line -->
    {% for line in lines %}
    <tr valign="top">
        <td width="64%">
            {% if line.is_group %}
                <b>{{ line.name }}</b>
            {% else %}
                {{ line.name }}
            {% endif %}
        </td>
        <td width="10%" style="text-align: center;">
            {{ line.qty }}
        </td>
        <td width="13%" style="text-align: right;">
            {% if line.unit_price is not null %}
                {{ line.unit_price | format_money() }}
            {% endif %}
        </td>
        <td width="13%" style="text-align: right;">
            {% if line.total is not null %}
                {{ line.total | format_money() }}
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>

<table width="100%" style="border: 0; border-right: solid 1px black;" cellpadding="4" cellspacing="0">
    <tr>
        <td width="87%" style="text-align: right; padding-right: 10px;">
            Total
        </td>
        <td width="13%" style="text-align: right; border-left: solid 1px black; border-bottom: solid 1px black;">
            {{ booking.price|format_money() }}
        </td>
    </tr>
</table>

<div style="font-size: 0.9rem; margin-top: 80px;">
    {{ parts.end_note|raw }}
</div>

<div style="page-break-inside: avoid;">
    <table style="width: 100%; margin-top: 30px; font-size: 0.9rem;">
        <tr>
            <td style="width: 50%; vertical-align: top;">
                {{ parts.company_signature_info|raw }}
            </td>
            <td style="width: 50%; vertical-align: top;">
                {{ parts.customer_signature_info|raw }}
            </td>
        </tr>
        <tr>
            <td style="height: 200px; text-align: center;">
                {{ signature_html|raw }}
            </td>
            <td></td>
        </tr>
    </table>
</div>

</body>
</html>