:host {
    display: flex;
    height: 60px;
    align-items: center;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 1px 3px #0000000a, 0 1px 2px #0000000a;
    touch-action: pan-y;

    .add-wrapper {
        width: 70px;
        text-align: center;
        border-right: 1px solid #0000000a;
    }

    .dates-wrapper {
        display: flex;
        align-items: center;
        flex-grow: 1;
        padding: 0 10px;

        .date {
            text-align: center;
            flex-grow: 1;
            font-size: 1rem;
        }
    }
}
