<div class="loading-overlay" *ngIf="loading">
    <div class="spinner"></div>
</div>

<div class="header">
    <div class="employee-col">Animateurs</div>
    <ng-container *ngFor="let dayIndex of daysIndexes">
        <div class="day-col">
            <div *ngIf="daysIndexes.length > 1" class="date-info">
                {{ formatDate(dayIndex) }}
            </div>
            <div class="moments">
                <div class="moment-col">Matin</div>
                <div class="moment-col">Midi</div>
                <div class="moment-col">Soir</div>
            </div>
        </div>
    </ng-container>
</div>

<div class="row" *ngFor="let partner of partnerList">
    <div class="employee-col">{{ partner.name }}</div>
    <ng-container *ngFor="let dayIndex of daysIndexes">
        <div class="moment-col">
            <ng-container *ngIf="(activityMap?.[partner.id]?.[dayIndex]?.['AM']?.length || 0) > 0">
                <div class="activity-card" *ngFor="let activity of activityMap[partner.id][dayIndex]['AM']" [style.background-color]="getActivityColor(activity)">
                    {{ activity.name }}
                </div>
            </ng-container>
        </div>
        <div class="moment-col">
            <ng-container *ngIf="(activityMap?.[partner.id]?.[dayIndex]?.['PM']?.length || 0) > 0">
                <div class="activity-card" *ngFor="let activity of activityMap[partner.id][dayIndex]['PM']" [style.background-color]="getActivityColor(activity)">
                    {{ activity.name }}
                </div>
            </ng-container>
        </div>
        <div class="moment-col">
            <ng-container *ngIf="(activityMap?.[partner.id]?.[dayIndex]?.['EV']?.length || 0) > 0">
                <div class="activity-card" *ngFor="let activity of activityMap[partner.id][dayIndex]['EV']" [style.background-color]="getActivityColor(activity)">
                    {{ activity.name }}
                </div>
            </ng-container>
        </div>
    </ng-container>
</div>
