<div [style.background-color]="getActivityColor(activity)" class="card" [style.padding]="padding">
    <!-- Activity -->
    <div *ngIf="!activity?.is_partner_event" class="activity">
        <!-- Booking -->
        <ng-container *ngIf="activity.booking_id">
            <div>
                <mat-icon *ngIf="activity.booking_line_group_id?.has_person_with_disability" class="disability-icon" aria-hidden="true">accessible</mat-icon>
                <span>{{ activity.group_num }} - {{ activity.customer_id.name }}</span>
            </div>
            <div>{{ activity.name }}</div>
        </ng-container>

        <!-- Camp -->
        <ng-container *ngIf="activity.camp_id">
            <div>
                {{ activity.camp_id.sojourn_number }} - {{ activity.group_num }} - {{ activity.name }}
            </div>
            <div>
                {{ activity.camp_id.short_name }}
            </div>
        </ng-container>

        <!-- Other -->
        <ng-container *ngIf="!activity.booking_id && !activity.camp_id">
            <div>{{ activity.name }}</div>
        </ng-container>
    </div>

    <!-- Partner event -->
    <div *ngIf="activity?.is_partner_event" class="partner-event">
        <!-- Camp -->
        <ng-container *ngIf="activity.camp_id">
            <div>
                {{ activity.camp_id.sojourn_number }} - {{ activity.group_num }} - {{ activity.name }}
            </div>
            <div>
                {{ activity.camp_id.short_name }}
            </div>
        </ng-container>

        <!-- Other -->
        <ng-container *ngIf="!activity.camp_id">
            <div>{{ activity.name }}</div>
        </ng-container>
    </div>
</div>
