:host {
    h2 {
        margin: 0;
    }

    mat-dialog-content {
        padding: 16px 20px;

        .activity-details {
            display: flex;
            width: 100%;
            flex-direction: column;
            gap: 20px;

            .activity-detail {
                display: flex;
                width: 100%;
                gap: 20px;

                .label {
                    display: flex;
                    min-width: 100px;
                    align-items: center;
                    justify-content: end;
                    font-weight: bold;
                }

                .value {
                    flex-grow: 1;
                    flex-basis: 0;
                }
            }
        }

        .form {
            margin-top: 40px;

            .field {
                width: 100%;
            }
        }

        .actions {
            display: flex;
            flex-direction: column;
            margin-top: 20px;
            gap: 10px;

            > button {
                width: 100%;
                height: 50px;
            }
        }
    }

    mat-dialog-actions {
        padding: 8px 0 0;
    }
}
