:host {
    h2 {
        margin: 0;
    }

    mat-dialog-content {
        min-width: 300px;
        padding: 16px 20px;

        .time-details {
            margin-left: 5px;
            font-size: 0.9rem;
            font-weight: 500;
        }
    }

    mat-dialog-actions {
        padding: 8px 0 0;
    }
}
